/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #2a593f;
@define-color text #d8d4b4;
@define-color base #0C0C0C;
@define-color border #d8d4b4;
@define-color foreground #d8d4b4;
@define-color background #525b54;



@define-color hover #689e80;


window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .search-container,
window .search {
  background: alpha(@hover, 0.2);
  color: @foreground;
  border: 2px solid alpha(@border, 0.8);
  border-radius: 4px;
  padding: 4px 6px;
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
}

window .box-wrapper {
    border-radius: 6px;
    box-shadow: 0 2px 12px alpha(@base, 0.8);
    backdrop-filter: blur(10px);
    line-height: 10%;
    padding: 4px;
}


window .preview {
    border: 0px solid alpha(@border, 0);
    border-radius: 4px;
    background: alpha(@base, 0.5);
    color: @text;
    padding: 10px 10px 10px;
    margin: 10px 0px 10px;
    box-shadow: inset 0 0 8px alpha(white, 0);
    backdrop-filter: blur(8px);
    line-height: 1em;
}