/* ────────────────────────────────────────────────────────────
 * Custom Theme for Waybar
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color background #0C0C0C;
@define-color foreground #d8d4b4;
